<div class='jumbotron center'>
	<h2>Welcome to Mark's Wonderful app</h2>
	<p>
	<%= link_to raw('<span class="glyphicon glyphicon-pencil"></span> LOG IN'), new_user_session_path, class:  "btn btn-default" %>
	<%= link_to raw('<span class="glyphicon glyphicon-wrench"></span> SIGN UP'), new_user_registration_path, class:  "btn btn-primary" %>
	</p>
</div>