<div class='jumbotron center'>
	<h1>About my project</h1>
	<h2>I'm building this site to practice my Rails skills.</h2>
	<h3>Technical Info on this site:</h3>
	<h4>Framework:</h4>
	<h5>Rails 4.0</h5>
	<h5>Ruby 2.0</h5>
	<h5>ActiveRecord</h5>
	<h4>Gems being used:</h4>
	<h5>Twitter Bootstrap(Front end framework)</h5>
	<h5>Devise 3.0 (site security)</h5>
	<h5>Paperclip 3.0(file attachement library)</h5>
	<h5>Masonry(grid layout library)</h5>
	<h5>Amazon Web Service AWS 1.2 (online storage of images)</h5>
	<h5>Will Paginate(Pagination library)</h5>
	<h5>Will Paginate-Bootstrap(Intergrates Twitter Bootstrap to Will-Paginate)</h5>
	<h5>Coffee-Rails(support for use of coffee script)</h5>
	<h4>Development enviroments using:</h4>
	<h5>SQLite3</h5>
	<h4>Production enviroments using:</h4>
	<h5>Postgres</h5>
	<h4>Deployed to:</h4>
	<h5>Heroku</h5>	
</div>